#navbar{
    width: 20%;
    display: inline;
    overflow-y: scroll;
    float: left;
    height: 100%;
    position: fixed;
}


.nav-link{

    text-decoration: none;
    color: black;
    font-size: large;
    /* font-weight: bold; */
    display: block;
}
/* 
nav:nth-child(2*30) {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
} */


.nav-link::after{
    content: "\a";
    white-space: pre;
}
#main-doc{
    width: 77%;
    float: right;
    height: 100%;
    margin-left: 0%;
    padding-left: 0%;
    display: inline;
}
@media screen and (max-width: 600px) {
    section.main-section {
      font-size: 12px;
      justify-content: center;
    }
  }